@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

// Set your brand colors
$scarlet: #b10202;
$grey-accent: #6a737b;
$text-default: rgba(0, 0, 0, 0.87);
$beige-light: #d0d1cd;
$beige-lighter: #eeeeee;

// Update Bulma's global variables
$family-sans-serif: 'Roboto', sans-serif;
$grey-dark: $text-default;
$grey-light: $beige-light;
$primary: $scarlet;
$link: $grey-accent;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Import only what you need from Bulma
@import '../node_modules/bulma/bulma.sass';
// @import '../node_modules/bulma/sass/utilities/_all.sass';
// @import '../node_modules/bulma/sass/base/_all.sass';
// @import '../node_modules/bulma/sass/elements/button.sass';
// @import '../node_modules/bulma/sass/elements/container.sass';
// @import '../node_modules/bulma/sass/elements/title.sass';
// @import '../node_modules/bulma/sass/form/_all.sass';
// @import '../node_modules/bulma/sass/components/modal.sass';
// @import '../node_modules/bulma/sass/layout/section.sass';
// @import '../node_modules/bulma/sass/layout/tiles.sass';
